.bg-login {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/healthy-young-african-women-outdoors-morning-park-friends-training.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
